.mainCar{
    z-index: 2;
    position: absolute;
    right: 0;
    width: 65%;
    margin-top: 5rem;

    @media (max-width: 900px) {
        display: none;
    }
}
.bg-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  
    @media (max-width: 900px) {
      display: none;
    }
  }